In [1]:
#Pandas/NumPy for data manipulation
import pandas as pd
import numpy as np

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df_list = pd.read_html(url)

In [3]:
df_raw = df_list[0]
df_raw

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

#### Ignoring cells with a borough that is Not assigned.

In [4]:
df_raw = df_raw[df_raw.Borough != 'Not assigned']
df_raw

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

#### Unlike mentioned in instruction there is no more than one neighborhood can exist in one postal code area.

In [5]:
df_raw[df_raw.duplicated(subset=['Postal Code'])]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

#### Counting "Not assigned" and "NaN" values in Neighbourhood and Borough columns

In [6]:
selected_words_neigh=["Not assigned","NaN"]

df_raw.loc[df_raw['Neighbourhood'].isin(selected_words_neigh),'Neighbourhood'].value_counts().sum()

0

In [7]:
selected_words_boro=["Not assigned", "NaN"]

df_raw.loc[df_raw['Borough'].isin(selected_words_boro),'Borough'].value_counts().sum()

0

#### Sorting values in Postal Code column

In [8]:
df = df_raw[['Postal Code', 'Borough', 'Neighbourhood']]
df = df.sort_values(['Postal Code'])
df

,Postal Code,Borough,Neighbourhood
9,M1B,Scarborough,"Malvern, Rouge"
18,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
27,M1E,Scarborough,"Guildwood, Morningside, West Hill"
36,M1G,Scarborough,Woburn
45,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
107,M9P,Etobicoke,Westmount
116,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
143,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
152,M9W,Etobicoke,"Northwest, West Humber - Clairville"

#### Lastly .shape method to print the number of rows of your dataframe

In [9]:
df.shape

(103, 3)